---
import CardIcon from '../components/CardIcon.astro'
import { Image } from 'astro:assets';
import FrontEnd from "../assets/Backend_Dev.jpg";
import tailwindcss from "../assets/tailwindcss.png"
import react from "../assets/react.png"
import express from "../assets/express.png"
import mongodb from "../assets/mongoDB.png"


---

<article class="rounded-2xl  aspect-square w-full flex flex-col items-center justify-start h-full shadow-xl bg-white shadow-slate-500/20 ">
<figure class="  rounded-l w-full relative group">
    <Image src={FrontEnd} alt="Alternative image"  class="rounded-t-2xl w-full h-60"/>
       <section class=" absolute top-2 right-2  self-end group-hover:flex flex-col items-center justify-start gap-0.5  mb-2 "> 
        <CardIcon icon={react}/>
        <CardIcon icon={tailwindcss}/>
        <CardIcon icon={express}/>
        <CardIcon icon={mongodb}/>
    </section>
</figure>
<figcaption class="relative flex flex-col justify-between items-center px-2 gap-3 p-1 text-center h-28   ">
    <h1 class="absolute mt-[-16px] bg-orange-500 text-slate-50 px-4 py-0.5 rounded-full  font-extrabold capitalize  text-[14px]"> Project Heading</h1>
    <p class=" text-[15px] font-thin mt-7">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, voluptate!
    </p>
</figcaption>
</article>